In [1]:
print("hello")

hello

In [3]:
import pandas as pd
import numpy as np

In [8]:
dict2={"names":["harry","shubh","gau"],
      "marks":[30,40,50],"city":["banglore","karnataka","raipur"]}

In [9]:
df=pd.DataFrame(dict2)

In [10]:
print(df)

   names  marks       city
0  harry     30   banglore
1  shubh     40  karnataka
2    gau     50     raipur

In [12]:
df.to_csv("names.csv")

In [14]:
df.to_csv("inames.csv",index=False)

In [15]:
df.describe()

       marks
count    3.0
mean    40.0
std     10.0
min     30.0
25%     35.0
50%     40.0
75%     45.0
max     50.0

In [23]:
s=pd.read_csv(r"C:\Users\mitta\Pandas\Book3.csv")

In [24]:
print(s)

   Voltage  Current
0     2.64      473
1     3.96      773
2     5.10      973
3     5.59     1073
4     6.26     1173
5     6.69     1273
6     7.91     1400
7     8.21     1473
8     9.67     1673

In [33]:
s.index=["ds","sa","as","sa","ef","sdf","fds","dsf","sfd"]

In [47]:
print(s)

     Voltage  Current
ds      2.64      473
sa      3.96      773
as      5.10      973
sa      5.59     1073
ef      6.26     1173
sdf     6.69     1273
fds     7.91     1400
dsf     8.21     1473
sfd     9.67     1673

In [52]:
print()
print()
print()